[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  autocrlf = input
[github]
  user = mybuddymichael
[tig]
  show-date = relative
[diff]
  wordRegex = [^[:space:]]
[alias]
  st = status
  ci = commit
  br = branch
  tag = tag -a
  co = checkout
  up = pull --tags origin master
  pu = push origin
  addp = add --patch
  mr = merge --no-ff
  unstage = reset HEAD
  grep = grep -n
  stage = '!f () { if (( $# > 0 )); then git add -- "$@"; else git add -u; fi }; f'
  unstage = reset --
  switch = checkout
  staged = diff --cached
  unstaged = diff
  both = diff HEAD
[color]
  ui = auto
[color "branch"]
  current = cyan
  local = yellow
  remote = green
[color "diff"]
  meta = blue
  frag = cyan
  old = red
  new = green
  whitespace = red reverse
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
