fish_history
fish/fishd*

.claude/projects
.claude/shell-snapshots
.claude/statsig
.claude/todos
.claude/plugins/config.json
.claude/.update.lock
.claude/debug
.claude/file-history
.claude/history*
.claude/plans
.claude/plugins/known_marketplaces.json
.claude/stats-cache.json

.config/crush/anthropic
