[submodule "dotvim/bundle/vim-fugitive"]
	path = dotvim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "dotvim/bundle/nerdtree"]
	path = dotvim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dotvim/bundle/vim-git"]
	path = dotvim/bundle/vim-git
	url = git://github.com/thePapacy/vim-git.git
