fish_history
fish/fishd*

.claude/projects
.claude/shell-snapshots
.claude/statsig
.claude/todos
.claude/plugins/config.json
.claude/.update.lock
.claude/debug
.claude/file-history
.claude/history*
.claude/plans

.config/crush/anthropic
