"*":
  "atom-material-ui":
    colors: {}
    tabs:
      compactTabs: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
  core:
    disabledPackages: [
      "relative-line-numbers"
      "neon-cursor"
      "pigments"
      "minimap-pigments"
      "lisp-paredit"
      "script"
      "vim-mode"
      "go-to-line"
      "about"
      "metrics"
      "bookmarks"
      "command-logger"
      "editor-stats"
      "Parinfer"
      "linter-flow"
      "lazy-motion"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "spartan-syntax"
    ]
    titleBar: "custom"
  "easy-motion-redux": {}
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "elm-format":
    formatOnSave: true
  elmjutsu:
    autocompleteEnabled: true
    cacheDirectory: "/var/folders/ng/_shxdkz91g96snfw97gsdpz40000gn/T/elmjutsu16972xy0uU0EPKQRl"
    showSidekick: true
    sidekickSize: 30
  "exception-reporting":
    userId: "f7c65b14-d275-5531-6e31-23a886f19a46"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  "git-plus":
    general:
      _analyticsUserId: "7f42966a-ced8-4566-8d33-5eb37b677c60"
  jumpy:
    highContrast: true
  "language-elm":
    autocompleteEnabled: false
    elmOraclePath: "/usr/local/bin/elm-oracle"
  "lazy-motion": {}
  linter: {}
  "linter-elm-make":
    alwaysCompileMain: true
    onlyLintOnSave: true
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    globalNodePath: "/usr/local"
  "linter-flow": {}
  "linter-swiftc": {}
  "linter-ui-default":
    panelHeight: 130
    showPanel: true
  "lisp-paredit":
    strict: false
  metrics:
    userId: "a27841703b088e4e26af6830a888c2c386cfed1c"
  minimap:
    adjustAbsoluteModeHeight: true
    plugins:
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      selection: false
      selectionDecorationsZIndex: 0
  nuclide:
    remoteProjectsConfig: []
  "nuclide-flow": {}
  "one-dark-ui": {}
  "one-light-ui":
    layoutMode: "Compact"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  pigments: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierEslintOptions:
      prettierLast: true
    prettierOptions:
      parser: "flow"
      singleQuote: true
      trailingComma: "all"
  react: {}
  "relative-line-numbers":
    showNormalLineNumbers: false
  "relative-numbers":
    softWrapsCount: false
  smalls:
    flashType: "match"
    labelChars: ";asdfghjkl"
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  "vim-mode-plus":
    flashOnUndoRedo: true
    incrementalSearch: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
".elm.source":
  editor:
    tabLength: 4
