packages: [
  "atom-material-ui"
  "easy-motion-redux"
  "elm-format"
  "elmjutsu"
  "git-plus"
  "goto"
  "language-elm"
  "language-fish-shell"
  "linter"
  "linter-elm-make"
  "linter-eslint"
  "linter-stylelint"
  "linter-swiftc"
  "minimap"
  "package-sync"
  "Parinfer"
  "pretty-json"
  "react"
  "relative-numbers"
  "smalls"
  "spartan-syntax"
  "vim-mode-plus"
]
